@page
@using Hack22.Pages
@model IndexModel
@{
    ViewData["Title"] = "Game page";
}
<!-- Game Page -->
<!-- Title -->
<div class="text-center">
    <h1 class = "h1 text-white">Game Time!</h1>
</div>
<!-- Game -->
<div class = "position-absolute top-50 start-50 translate-middle text-center bg-dark text-white p-5">
    <div class = "parent top-50 start-50 translate-middle">
        <img src = "https://cdn.discordapp.com/attachments/753824949223030956/1041121202925752391/HealthPNG.png">
    </div>
</div>
