@page
@using Hack22.Pages
@model IndexModel
@{
    ViewData["Title"] = "Intro Page";
}
<!-- Intro Page -->
<div class = "position-absolute top-50 start-50 translate-middle text-center bg-dark text-white p-5">
    <img src="Imgs\MonsterPNG.png" class="img-fluid p-5" alt="Hero">
    <div></div>
    <!-- Intro paragraph -->
    <h1 class = "h6">Welcome to Code Heroes! We need your help to fight the dragon and save the village from the destruction! 
        In order to defeat him, you need to you need to complete the following Python coding challenges. 
        Complete the coding challenges and save the village!<br />
        Sincerly,<br />
            Weese Village
        </h1>
    <a class = "btn btn-primary" href = "GamePage">Lets Go!</a>
</div>
